# IDE File
.idea
.vscode
.venv

# log File
logs
*log.txt

# Output File
outputs
*.wav
*.mp3
*.mp4

# Python tmp File
__pycache__

# web tmp File
node_modules
dist
package-lock.json

# local Folder
data
volumes
config.yaml
.DS_Store
/backend/utils/data4.xlsx
/backend/utils/data4o.xlsx
/backend/utils/dataall.xlsx
/backend/utils/dataall-o.xlsx
/backend/projID.db
